body {
    font-family: 'Monserrat', sans-serif;
}

#product-overview {
    background-color: #ff1b68;
}

.product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

h1 {
    color: white;
    font-family: sans-serif;
}

.section-title {
    color: #2ddf5c;
}