* {
    box-sizing: border-box;
}

body {
    font-family: 'Monserrat', sans-serif;
}

#product-overview {
    background: url("/assets/images/freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

h1 {
    color: white;
    font-family: sans-serif;
}

.section-title {
    color: #2ddf5c;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 70px);
    vertical-align: middle;
}

.main-nav-items {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav-item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav-item a:hover,
.main-nav-item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.cta a {
    color: white;
    background-color: #ff1b68;
    border-radius: 8px;
    padding: 8px 16px;
}

.cta a:active,
.cta a:hover {
    background: white;
    color: #ff1b68;
    border: none;
}